
		<div class="wrapper">
			<header>
				<h1>Rookie on Rails Blog</h1>
				<nav>
					<ul>
						<li><a href="" class="current">home</a></li>
						<li><a href="">about</a></li>
						<li><a href="">contact</a></li>
					</ul>
				</nav>	
			</header>	

			<section class="courses">
				<article>
					<figure>
						<img src="http://placekitten.com/g/200/200">
						<figcaption>Coder Cat</figcaption>
					</figure>	
					<hgroup>
						<h2>Ruby Week 1</h2>
						<h3>January 7, 2013</h3>
					</hgroup>	
					<p>This week was deceptively easy - we got our feet wet with some Ruby basics.</p>
				</article>

				<article>
					<figure>
						<img src="http://placekitten.com/g/200/200">
						<figcaption>CSS Cat</figcaption>
					</figure>	
					<hgroup>
						<h2>Ruby Week 2</h2>
						<h3>January 13, 2013</h3>
					</hgroup>	
					<p>This week was much more difficult! We dove into advanced Ruby topics.</p>
				</article>
			</section>

			<aside>
				<section class="popular-recipes">
					<h2>Archived Posts</h2>
					<a href="">December 15, 2012</a>
					<a href="">November 12, 2012</a>
					<a href="">September 22, 2012</a>
				</section>	
				<section class="contact-details">
					<h2>Contact</h2>
					<p>
						Mike Emsley<br />
						mike.emsley@gmail.com<br />
					</p>
				</section>	
			</aside>	

			<footer>
				&copy; 2013 Mike Emsley
			</footer>	


		</div> <!-- .wrapper -->	
	