/* why don't border width and color work? */
/* why is my bottom nav messed up? */
/* i'm not clear on the difference between class and id */


@font-face {
	font-family: 'Roboto Condensed', sans-serif;
}

div {
	/* height: 300px;
	width: 500px;*/
	min-width: 200px;
	max-width: 500px;
	background-color: DarkCyan;
	border-width: 10px;
	border-color: black;
	}

div.column1{
	width: 300px;
	float: left;
	margin: 10px;
	}

div.column2{
	width: 300px;
	float: left;
	margin: 10px;
	}

div.column3{
	width: 300px;
	float: left;
	margin: 10px;
	}		

body {
	font-family: arial;
	color: white;
	background-color: rgb(200,200,200);
	}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: DeepSkyBlue;
	padding: 10px;
	position: fixed;
		top: 0px;
		left: 0px;
		margin: 0px;
		width: 100%;
	}

h2 {
	background-color: #ee3e80;
	border-width: thick;
	border-color: white;
	padding: 10px;
	margin: 1px;
	}

p {
	color: rgb(100,100,100);
	background-color: white;
	border-width: thick;
	border-color: black;
	padding: 10px;
	margin: 2px;
	}

/*
p.note {
	background-color: Chocolate;
	position: relative;
		top: 10px;
		left: 100px;
	}	
*/

nav {
	color: rgb(100,100,100);
	background-color: white;
	}

a:link {
	color: DarkCyan;
	}
/* this one is not working */

a:visited {
	color: red;
	}

a:hover {
	color: black;
	}	

li {
	display: inline;
	margin-right: 10px;
	}		
	